@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Lobster);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block; 
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  ========================================
  Custom styles
  ========================================
*/

body {
  background: #F5F8FA;
  color: #292F33;
  font: 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container{
  margin: 0 auto;
  max-width: 720px;
}
@media all and (min-width: 720px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
}
h1, h3, h4, p {
  margin-bottom: 22px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
strong {
  font-weight: 700;
}
cite,
em {
  font-style: italic;
}

/*
  ========================================
  Primary header
  ========================================
*/
.primary-header {
  position: fixed;
  color: #fff;
  background-color: #55ACEE;
  width: 100%;
  height: 140px;
}
.logo {
  font-family: 'Lobster', 'Brush Script MT', 'Georgia', cursive;
  font-size: 48px;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 30px 0 0 0;
}
.primary-nav {
  font-size: 14px;
  letter-spacing: .5px;
  text-transform: uppercase;
}
.main-content {
  padding-top: 150px;
}
/*
  ========================================
  Navigation
  ========================================
*/

.nav {

}
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}

/*
  ========================================
  Tweets
  ========================================
*/
.tweet {
  background: #fff;
  border: solid #E1E8ED 1px;
  border-bottom: 0;
  padding: 12px;
  min-height: 72px;
}
.tweet:hover {
  background: #f5f8fa;
}
.tweet:first-child {
  border-radius: 6px 6px 0 0;
}
.tweet:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: solid #E1E8ED 1px;
}
.tweet-text {
  margin-left: 60px;
}
.profile-pic {
  height: 48px;
  margin-right: 12px;
  border-radius: 6px;
  float: left;
}
/*
  ========================================
  Links
  ========================================
*/
.hashtag,
.hashtag:visited,
.hashtag:focus {
  color: #0084B4;
  text-decoration: none;
}
.hashtag:hover {
  text-decoration: underline;
}

.profile-link,
.profile-link:visited,
.profile-link:focus {
  text-decoration: none;
  color: inherit;
}
.fullname {
  font-weight: 700;
}
.profile-link:hover .fullname {
  text-decoration: underline;
  color: #0084B4;
}
.username,
.time {
  font-size: 0.8em;
  color: #8899a6;
  padding: 0.2em;
}
.time:before {
  content: "\A";
  white-space: pre;
}
.tweet-header {
  line-height: 1em;
}
@media all and (min-width: 480px) {
  .time:before {
    content: "\00b7  ";
    white-space: pre;
  } 
  .tweet-header {
    line-height: 1.4em;
  }
}